<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.DepartmentMapper">

    <select id="selectById" resultType="com.example.entity.Department">
        select * from `department` where id = #{id}
    </select>

    <select id="selectAll" resultType="com.example.entity.Department">
        select * from `department`
        <where>
            <if test="name != null"> and name like concat('%', #{name}, '%')</if>
        </where>
        order by id desc
    </select>

    <delete id="deleteById">
        delete from `department`
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Department" useGeneratedKeys="true" keyProperty="id">
        insert into `department`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="information != null">information,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="information != null">#{information},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Department">
        update `department`
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="information != null">
                information = #{information},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>